body {
    background-color: rgb(85, 176, 204);
}

.container {
    background-color: bisque;
    margin: 10%;
}

ul {
    display: flex;
    display: -webkit-flex;
}

footer {
    background-color: tomato;
    color: lightgreen;
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex; /* guarantees browser compatibility */
    width: 100%;
}

.flex-section {

}

.flex-item {
    margin: 1em;
}
